/* Nav Bar Section */
nav{
    background-color: rgb(79, 86, 91);
    overflow: hidden;
    padding-left: 1rem;
}
nav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 2.5rem 16px;
    text-decoration: none;
    font-size: 1.3rem;
}
nav h1{
    float: left;
    font-size: 2rem;
    font-family: 'Petit Formal Script', cursive;
    color: rgb(192, 134, 215);
}
nav a:hover{
    background-color: rgb(192, 134, 215);
    color: black;
}
nav a.active{
    background-color: #04aa6d;
    color: white;
}

/* *************** */


body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(192, 134, 215);;
}
.wrapper {
    width: 33.75em;
    background-color: #ffffff;
    position:relative;
    padding: 2em;
    transform: translateX(-50%);
    left: 50%;
    top: 1.25em;
    border-radius: 0.5em;
}
.container{
    margin: 1.25em auto;
    width: 33.75em;
    border-radius: 0.6em;
    overflow: hidden;
    background-color: rgb(192, 134, 215);;
}

#information {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.player-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player1:before{
    content: "";
    display: inline-block;
    width: 3.12em;
    height: 3.12em;
    border-radius: 50%;
    background: radial-gradient(#fff04e 1.12em, #ffc400 1.25em);
}

.player2:before{
    content: "";
    display: inline-block;
    width: 3.12em;
    height: 3.12em;
    border-radius: 50%;
    background: radial-gradient(#ff4747 1.12em, #c00303 1.25em);
}

#playerTurn {
    margin : 1em 0;
    text-align: right;
}

#playerTurn span{
    font-weight: 600;
}

.startScreen {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(192, 134, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.startScreen button{
    background-color: #ffffff;
    font-size: 1.4em;
    padding: 1em 2em;
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;
}

.grid-row {
    margin: 0 auto;
    display: flex;
}

.grid-box{
    width: 5em;
    height: 5em;
    display: grid;
    place-items: center;
    background: radial-gradient(white 1.37em, #416cea 1.43em);
}

.hide {
    display: none;
}
#message{
    margin-bottom: 1em;
    color:#ffffff;
    font-size: 1.2em;
}





