/* Nav Bar Section */
nav{
    background-color: rgb(79, 86, 91);
    overflow: hidden;
    padding-left: 1rem;
}
nav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 2.5rem 16px;
    text-decoration: none;
    font-size: 1.3rem;
}
nav h1{
    float: left;
    font-size: 2.5rem;
    font-family: 'Great Vibes', cursive;
    color: rgb(192, 134, 215);
}
h2{
    text-decoration: underline;
}
nav a:hover{
    background-color: rgb(192, 134, 215);
    color: black;
}
nav a.active{
    background-color: #04aa6d;
    color: white;
}
h1{
    font-family: 'Paprika', cursive;
    text-align: center;
    padding-top: 15px;

    font-size: 3rem;
    color: rgb(181, 85, 219);
}
h1 span{
    color: black;
}

/* *************** */

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(192, 134, 215);;
}

main{
    margin: 15px;
    justify-content: center;
}
.container{
    border: 10px solid gray;
    border-radius: 10%;
    position: relative;
    width: 33.75em;
    text-align: center;
    padding: 1rem;
    margin: 6rem 24rem 0 24rem;
    background-color: rgb(159, 154, 149);
}
button a{
    text-decoration: none;
    font-size: 1rem;
}
button{
    padding: 10px;
}
button:hover {
    background-color: #04aa6d;
}