/* Nav Bar Section */
nav{
    background-color: rgb(79, 86, 91);
    overflow: hidden;
    padding-left: 1rem;
}
nav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 2.5rem 16px;
    text-decoration: none;
    font-size: 1.3rem;
}
nav h1{
    float: left;
    font-size: 2rem;
    font-family: 'Petit Formal Script', cursive;
    color: rgb(192, 134, 215);
}
nav a:hover{
    background-color: rgb(192, 134, 215);
    color: black;
}
nav a.active{
    background-color: #04aa6d;
    color: white;
}

/* *************** */

body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(192, 134, 215);;
}

main{
    margin: 15px;
}
.container{
    border: 3px solid gray;
    padding: 15px;
    text-align: center;
    margin-top: 8rem;
}